# Basic files
## RStudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj

## DS_Store files
.DS_Store

## .json files
settings.json

# All the content from the data folder
data/
data-raw/

# PDF output until it is finished
report/

# All output until it is finished
output/

/.quarto/

# VS Code files
.vscode/
